<% layout("layouts/boilerplate") -%>

<style>
    #filters {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .filter {
        text-align: center;
        margin-right: 1.8rem;
        opacity: 0.8;
    }
    .filter:hover {
        opacity: 1;
    }

    .filter p {
        font-size: 0.8rem;
    }

    .tax-toggle {
        display: flex;
        margin-left: auto;
        border: 1px solid black;
        border-radius: 0.6rem;
        height: 3rem;
        padding: 1rem;
        align-items: center;
    }
    .tax-info {
        display: none;
    }
    .category-link {
        text-decoration: none;
        color: black;
    }
</style>

<div class="d-flex pt-4 align-items-center">
    <nav id="topIcons" class="navbar navbar-expand-lg navbar-light bg-body-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#filtersNav" aria-controls="filtersNav" aria-expanded="false" aria-label="Toggle categories">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="filtersNav">
        <div id="filters" class="d-flex flex-wrap align-items-center">
            <div class="filter">
            <a href="/listings/category/trending" class="category-link">
                <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
            </a>
            </div>
            <div class="filter">
            <a href="/listings/category/rooms" class="category-link">
                <div><i class="fa-solid fa-bed"></i></div>
                <p>Rooms</p>
            </a>
            </div>
            <div class="filter">
            <a href="/listings/category/cities" class="category-link">
                <div><i class="fa-solid fa-mountain-city"></i></div>
                <p>Iconic Cities</p>
            </a>
            </div>
            <div class="filter">
            <a href="/listings/category/mountains" class="category-link">
                <div><i class="fa-solid fa-mountain"></i></div>
                <p>Mountains</p>
            </a>
            </div>
            <div class="filter">
            <a href="/listings/category/castles" class="category-link">
                <div><i class="fa-brands fa-fort-awesome"></i></div>
                <p>Castles</p>
            </a>
            </div>
            <div class="filter">
            <a href="/listings/category/arctic" class="category-link">
                <div><i class="fa-solid fa-snowflake"></i></div>
                <p>Arctic</p>
            </a>
            </div>
            <div class="filter">
            <a href="/listings/category/pools" class="category-link">
                <div><i class="fa-solid fa-person-swimming" style="font-size: 22px;"></i></div>
                <p>Pools</p>
            </a>
            </div>
            <div class="filter">
            <a href="/listings/category/camping" class="category-link">
                <div><i class="fa-solid fa-campground"></i></div>
                <p>Camping</p>
            </a>
            </div>
            <div class="filter">
            <a href="/listings/category/farms" class="category-link">
                <div><i class="fa-solid fa-cow"></i></div>
                <p>Farms</p>
            </a>
            </div>
        </div>
        </div>
    </div>
    </nav>
    
    <div id="taxToggle" class="d-flex justify-content-end ms-auto">
    <div class="tax-toggle">
        <div class="form-check form-switch form-check-reverse">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Total after taxes</label>
        </div>
    </div>
    </div>
</div>

<div class="row row-cols-sm-1 row-cols-lg-3 row-cols-md-2">
    <% for(let listing of allListings) {%>
        <div class="listing-card card mt-5">
            <a href="/listings/<%=listing._id%>" class="listing-link">
                <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <b><p class="card-title"><%= listing.title %></p></b>
                    <%= listing.price.toLocaleString("in-IN")  %>&#8360;/Night
                    <i class="tax-info">&nbsp; &nbsp; +18% KDV</i>
                </div>
            </a>
        </div>
    <%}%>
</div>

<script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click", () => {
        let taxInfo = document.getElementsByClassName("tax-info");
        for(info of taxInfo) {
            if(info.style.display != "inline") {
                info.style.display = "inline";
            } else {
                info.style.display = "none";
            }
        }
    });
</script>