<% layout("./layouts/boilerplate") %>

<div class="row mt-3">
    <h5 class="col-9 offset-1">Log in to Wanderlust</h5>
    <div class="col-9 col-lg-6 row-6 offset-1">
        <form action="/login" method="POST" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-lable">Username</label>
                <input
                type="text"
                name="username"
                class="form-control"
                type="text"
                id="username"
                required
                >
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please Enter a Title</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-lable">Password</label>
                <input
                name="password"
                class="form-control"
                type="password"
                id="password"
                required
                >
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please Enter a Password</div>
            </div>
            <button class="btn btn-success mb-3">Login</button><br>
            <p class="mb-3" style="font-size: 0.8rem;">Don't have an account? <a href="/signup">register here</a></p>
        </form>
    </div>
</div>